@media (max-width: 427px) {
  .footer-input {
    max-width: 92vw;
  }
}

@media (max-width: 767px) {
  .hero-title {
    text-transform: capitalize;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .basics-title {
    text-align: left;
  }

  .basics-list {
    gap: 72px 24px;
  }

  .basics-icon-container {
    display: none;
  }
  .basics-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list-img {
    gap: 64px 24px;
  }

  .team-list-img-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-list {
    justify-content: center;
    gap: 72px 24px;
  }

  .customers-link {
    width: 100%;
  }

  .customers-item {
    width: 168px;
  }

  .footer-paragraph,
  .footer-social-container {
    margin-bottom: 0;
  }

  .footer-container {
    width: 552px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-logo-container {
    align-items: flex-start;
  }

  .footer-social-paragraph {
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
  }

  .footer-input {
    width: 264px;
  }

  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tabl.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tabl-2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    color: var(--white-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto 36px;
  }
}

/* ---------------------1158px---------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .basics-section {
    padding: 120px 0;
  }

  .basics-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .basics-list {
    gap: 24px;
  }

  .basics-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .basics-list-icon {
    display: flex;
  }

  .basics-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--cloud-color);
    width: 264px;
    height: 112px;
  }

  .doing-section {
    display: flex;
  }

  .doing-title {
    color: var(--navyblue-color);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .team-section {
    padding: 120px 0;
  }

  .team-list-img {
    gap: 24px;
  }

  .team-list-img-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    min-width: 1158px;
    justify-content: center;
    gap: 0;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: 80px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-new.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}
